<div class="space-y-4">
    <div class="flex justify-between items-center mb-4">
        <h3 class="text-xl font-semibold">Response</h3>
        <button onclick="closeModal()" 
                class="text-gray-500 hover:text-gray-700 p-2">
            ✕
        </button>
    </div>
    <div>
        <label class="block text-sm font-medium text-gray-700">id:  {{ message.id }} </label>
    </div>
    <div>
        <label class="block text-sm font-medium text-gray-700">Test Message:  {{ message.message.name }} </label>
    </div>
    <textarea class="mt-1 block w-full rounded-md border-gray-300 shadow-sm"
    rows="20">
        {{ message.response_content }}
    </textarea>
</div>


