<!-- Messages Table -->
<div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-xl font-semibold mb-4">CDA Query Form</h2>
    <div class="overflow-x-auto">
        <div id="cdaQueryForm" 
            hx-get="/static/queries/cda_query.html" 
            hx-target="#cdaQueryForm"
            hx-swap="innerHTML"
            hx-trigger="load"
        ></div>
    </div>
</div>
<!--div class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-xl font-semibold mb-4">FHIR Query Form</h2>
    <div class="overflow-x-auto">
        <div id="fhirQueryForm"
            hx-get="/static/queries/fhir_query.html" 
            hx-target="#fhirQueryForm"
            hx-swap="innerHTML"
            hx-trigger="load"></div>
    </div>
</div-->
